# 0. Import các thư viện cần thiết

In [1]:
import pandas as pd
import numpy as np

# 1. Đọc file CSV

In [2]:
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2022/01/20125029/shopeep_koreantop_clothing_shop_data.csv", encoding = "ISO-8859-1")
df.head(10)

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
5,20210613430999411,2021-06-13,430999411,Bellamy House,April,26,2021,115,41,12:33:58,29,NaN,0,2,0,5.00,0,0
6,20210613310915998,2021-06-13,310915998,Yihua Women's Wear Hall,September,17,2020,219,30480,11:00:46,92,NaN,87,16460,408,4.87,1,0
7,20210613126018720,2021-06-13,126018720,croptop korean top dress,February,12,2019,1444,72704,11:03:13,95,NaN,354,22350,962,4.80,1,0
8,20210613312874722,2021-06-13,312874722,Shopping Center boutique,September,22,2020,286,110539,10:14:49,76,"San Nicolas,Metro Manila",679,28651,2027,4.70,1,0
9,2021061336754442,2021-06-13,36754442,KathrynClothing,September,30,2017,509,478893,09:41:23,85,"Taytay,Rizal",4524,217241,10071,4.76,0,0

In [3]:
# Lọc các cột dữ liệu 'date_collected','shop_location','response_time'

df = df.loc[:, ['date_collected','shop_location','response_time']]
df.head(10)

  date_collected               shop_location response_time
0     2021-06-13                         NaN      10:13:55
1     2021-06-13    San Nicolas,Metro Manila      10:43:05
2     2021-06-13     Pasay City,Metro Manila      08:32:07
3     2021-06-13        Binondo,Metro Manila      09:10:38
4     2021-06-13  Caloocan City,Metro Manila      11:40:59
5     2021-06-13                         NaN      12:33:58
6     2021-06-13                         NaN      11:00:46
7     2021-06-13                         NaN      11:03:13
8     2021-06-13    San Nicolas,Metro Manila      10:14:49
9     2021-06-13                Taytay,Rizal      09:41:23

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_collected  746 non-null    object
 1   shop_location   428 non-null    object
 2   response_time   746 non-null    object
dtypes: object(3)
memory usage: 17.6+ KB

# 2. Tách cột dữ liệu có kiểu chuỗi sử dụng phương thức str.split()

2.1. Tách cột shop_location thành 2 cột "District" và "City"

In [5]:
series_location = df.shop_location.str.split(",")
series_location

0                                NaN
1        [San Nicolas, Metro Manila]
2         [Pasay City, Metro Manila]
3            [Binondo, Metro Manila]
4      [Caloocan City, Metro Manila]
                   ...
741            [Legazpi City, Albay]
742                              NaN
743                              NaN
744          [Binondo, Metro Manila]
745       [Pasay City, Metro Manila]
Name: shop_location, Length: 746, dtype: object

In [6]:
type(series_location)

pandas.core.series.Series

In [7]:
df["District"] = series_location.str[0].str.strip()
df["City"] = series_location.str[1].str.strip()
df.head(10)

,date_collected,shop_location,response_time,District,City
0,2021-06-13,NaN,10:13:55,NaN,NaN
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila
5,2021-06-13,NaN,12:33:58,NaN,NaN
6,2021-06-13,NaN,11:00:46,NaN,NaN
7,2021-06-13,NaN,11:03:13,NaN,NaN
8,2021-06-13,"San Nicolas,Metro Manila",10:14:49,San Nicolas,Metro Manila
9,2021-06-13,"Taytay,Rizal",09:41:23,Taytay,Rizal

# 3. Tách cột dữ liệu có kiểu ngày tháng

3.1. Tách cột date_collected thành 3 cột Day, Month, Year

In [8]:
temp = pd.to_datetime(df.date_collected, format = "%Y-%m-%d")
type(temp)

pandas.core.series.Series

In [9]:
temp

0     2021-06-13
1     2021-06-13
2     2021-06-13
3     2021-06-13
4     2021-06-13
         ...
741   2021-07-06
742   2021-07-06
743   2021-07-06
744   2021-07-06
745   2021-07-06
Name: date_collected, Length: 746, dtype: datetime64[ns]

In [10]:
df["Day"] = temp.dt.day
df["Month"] = temp.dt.month
df["Year"] = temp.dt.year
df.head(10)

,date_collected,shop_location,response_time,District,City,Day,Month,Year
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021
5,2021-06-13,NaN,12:33:58,NaN,NaN,13,6,2021
6,2021-06-13,NaN,11:00:46,NaN,NaN,13,6,2021
7,2021-06-13,NaN,11:03:13,NaN,NaN,13,6,2021
8,2021-06-13,"San Nicolas,Metro Manila",10:14:49,San Nicolas,Metro Manila,13,6,2021
9,2021-06-13,"Taytay,Rizal",09:41:23,Taytay,Rizal,13,6,2021

# 4. Tách cột dữ liệu có kiểu thời gian

4.1. Tách cột response_time thành 3 cột Hour, Minute, Second

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_collected  746 non-null    object
 1   shop_location   428 non-null    object
 2   response_time   746 non-null    object
 3   District        428 non-null    object
 4   City            428 non-null    object
 5   Day             746 non-null    int64
 6   Month           746 non-null    int64
 7   Year            746 non-null    int64
dtypes: int64(3), object(5)
memory usage: 46.8+ KB

In [11]:
temp = pd.to_datetime(df.response_time, format = "%H:%M:%S")
type(temp)

ValueError: time data ' 10:13:55' does not match format '%H:%M:%S' (match)

In [13]:
# Xử lý số liệu sai
df.response_time = df.response_time.str.strip()

In [14]:
temp = pd.to_datetime(df.response_time, format = "%H:%M:%S")
type(temp)

pandas.core.series.Series

In [15]:
temp

0     1900-01-01 10:13:55
1     1900-01-01 10:43:05
2     1900-01-01 08:32:07
3     1900-01-01 09:10:38
4     1900-01-01 11:40:59
              ...
741   1900-01-01 08:45:30
742   1900-01-01 08:01:23
743   1900-01-01 08:46:30
744   1900-01-01 12:19:44
745   1900-01-01 10:02:42
Name: response_time, Length: 746, dtype: datetime64[ns]

In [16]:
df["Hour"] = temp.dt.hour
df["Minute"] = temp.dt.minute
df["Second"] = temp.dt.second
df.head(10)

,date_collected,shop_location,response_time,District,City,Day,Month,Year,Hour,Minute,Second
0,2021-06-13,NaN,10:13:55,NaN,NaN,13,6,2021,10,13,55
1,2021-06-13,"San Nicolas,Metro Manila",10:43:05,San Nicolas,Metro Manila,13,6,2021,10,43,5
2,2021-06-13,"Pasay City,Metro Manila",08:32:07,Pasay City,Metro Manila,13,6,2021,8,32,7
3,2021-06-13,"Binondo,Metro Manila",09:10:38,Binondo,Metro Manila,13,6,2021,9,10,38
4,2021-06-13,"Caloocan City,Metro Manila",11:40:59,Caloocan City,Metro Manila,13,6,2021,11,40,59
5,2021-06-13,NaN,12:33:58,NaN,NaN,13,6,2021,12,33,58
6,2021-06-13,NaN,11:00:46,NaN,NaN,13,6,2021,11,0,46
7,2021-06-13,NaN,11:03:13,NaN,NaN,13,6,2021,11,3,13
8,2021-06-13,"San Nicolas,Metro Manila",10:14:49,San Nicolas,Metro Manila,13,6,2021,10,14,49
9,2021-06-13,"Taytay,Rizal",09:41:23,Taytay,Rizal,13,6,2021,9,41,23